{% extends 'shop/basic.html' %}
{% block title %} Contact Us {% endblock %}

{% block body %}
<div class="container">
    <div class="row mx-auto">
        <div class="col-md-6">
            <form action="/shop/contact" method="post">
                {% csrf_token %}
                <div class="form-group my-2" >
                    <label for="name">Name</label>
                    <input type="text" class="form-control" name="name" id="name" placeholder="Enter your name">
                </div>
                <div class="form-group my-2">
                    <label for="email">Email address</label>
                    <input type="email" class="form-control" name="email" id="email"
                           placeholder="Enter your email address">
                </div>
                <div class="form-group  my-2">
                    <label for="phone">Phone Number</label>
                    <input type="text" class="form-control" name="phone" id="phone"
                           placeholder="Enter your phone number">
                </div>

                <div class="form-group my-2">
                    <label for="desc">How may help you?</label>
                    <textarea class="form-control" name="desc" id="desc" rows="3"></textarea>
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Send</button>
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}