{% extends 'shop/basic.html' %}
{% block title %} Home {% endblock %}
{% block body %}
{% load static %}
{% for product, range , nSlides, title in allProds %}
<h2>{{ title.product_title }}</h2>
<div id="carouselExampleIndicators{{ forloop.counter }}" class="carousel slide my-5">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter }}" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
        {% for i in range %}
        <button type="button" data-bs-target="#carouselExampleIndicators{{ forloop.parentloop.counter }}" data-bs-slide-to="{{ i }}"
                aria-label="Slide {{ i|add:1 }}"></button>
        {% endfor %}
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                {% for i in product %}
                <div class="col-md-3">
                    <div class="card" style="width: 18rem;">
                        <img src="/media/{{ i.image }}" class="card-img-top" height="300" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{ i.product_name|slice:"20" }}</h5>
                            <p class="card-text">{{ i.desc|truncatechars:20 }}</p>
                            <a href="#" class="btn btn-primary">ADD TO CART</a>
                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div></div> <div class="carousel-item"><div class="row">
                {% endif %}
                {%endfor%}
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter }}"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter }}"
                data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden bg-white">Next</span>
        </button>
    </div>
</div>
{% endfor %}
{% endblock %}
