<p></p>{% extends 'shop/basic.html' %}
{% block title %} Home {% endblock %}
{% block body %}
{% load static %}
{% for product, range , nSlides  in allProds %}
<h2>{{ product.0.category }}</h2>
<div id="carouselExampleIndicators{{ forloop.counter }}" class="carousel slide my-5">
<!--    <div class="carousel-indicators">-->
<!--        <button type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter }}" data-bs-slide-to="0" class="active"-->
<!--                aria-current="true" aria-label="Slide 1"></button>-->
<!--        {% for i in range %}-->
<!--        <button type="button" data-bs-target="#carouselExampleIndicators{{ forloop.parentloop.counter }}" data-bs-slide-to="{{ i }}"-->
<!--                aria-label="Slide {{ i|add:1 }}"></button>-->
<!--        {% endfor %}-->
<!--    </div>-->
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                {% for i in product %}

                <div class="col-md-3">

                    <div class="card" style="width: 18rem;">
                        <img src="/media/{{ i.image }}" class="card-img-top" height="300" alt="...">
                        <div class="card-body">
                            <h5 class="card-title" id="namepr{{ i.id }}">{{ i.product_name|slice:"20" }}</h5>
                            <p class="card-text">{{ i.desc|truncatechars:20 }}</p>
                            <div class="text-center" >
                                <span id="divpr{{i.id}}" class="divpr">
                                    <button id="pr{{ i.id }}" class="btn btn-primary add_to_cart">ADD TO CART</button>
                                </span>
                                <a href="/shop/product-view/{{i.id}}" class="btn btn-secondary add_to_cart">QUICK VIEW</a>
                            </div>

                        </div>
                    </div>
                </div>
                {% if forloop.counter|divisibleby:4 and not forloop.last %}
                    </div></div> <div class="carousel-item"><div class="row">
                {% endif %}
                {%endfor%}
            </div>
        </div>
        <div class="carousel-prev-next position-relative">
            <button class="carousel-prev position-absolute start-0 bg-transparent border-0" style="top: 180px" type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter }}"
                data-bs-slide="prev">
            <span class="carousel-control-prev-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-next position-absolute end-0 bg-transparent border-0" style="top: 180px" type="button" data-bs-target="#carouselExampleIndicators{{ forloop.counter }}"
                data-bs-slide="next">
            <span class="carousel-control-next-icon bg-dark" aria-hidden="true"></span>
            <span class="visually-hidden bg-white">Next</span>
        </button>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
{% block script %}
<script>

    //Find out the cart items from localstorage
  
       var cart_qty = 0;

        if(localStorage.getItem('cart') == null){
            var cart = {};
        }
        else
        {
            cart = JSON.parse(localStorage.getItem('cart'));
             document.getElementById('cart').innerHTML = Object.keys(cart).length;
             updateCart(cart)

        }
        //If the add to card button is clicked, add/increment the item
        $('.add_to_cart').click(function(){
            var idstr = this.id.toString();
            console.log(idstr);
            if(cart[idstr] != undefined){
                cart[idstr] = cart[idstr] + 1;
            }
            else
            {
                cart[idstr] = 1;
            }
             updateCart(cart)
            localStorage.setItem('cart',JSON.stringify(cart));
            document.getElementById('cart').innerHTML = Object.keys(cart).length;
        });
        //Count Item total quantity
        if(Object.keys(cart).length>0)
        {
            for(i in cart ){
                cart_qty += cart[i]
            }
        }
      


    //Add Popover to cart
    const popoverElement = document.getElementById("popover_cart");
    const popover = new bootstrap.Popover(popoverElement);

    popoverElement.addEventListener('show.bs.popover', () => {
        popover._config.content = "<h5>Cart for your items in my shopping cart</h5>";
    });
    updatePopover(cart)
    function updatePopover(cart)
    {
        var popStr = "";
        popStr = popStr + "<h6>Cart for your items in your shopping cart. </h6><div class='mx-2 my-2'>"
        i = 1;
        console.log(cart)

        for(var item in cart)
        {
            console.log(cart[item])
            popStr = popStr + "<b>" + i + "</b>. ";
            popStr = popStr + document.getElementById('name'+item).innerHTML + ".. Qty:" + cart[item] + "<br>";
            i +=1;
        }
        popStr = popStr + "</div>"
        const popoverElement = document.getElementById("popover_cart");
        popoverElement.addEventListener('show.bs.popover', () => {
            popover._config.content = popStr;

        });
         if (popoverElement.getAttribute("aria-describedby")) {
            popover.show();
        }
    
          
    }

    function updateCart(cart){
        for(var item in cart)
        {
            document.getElementById("div"+item).innerHTML = "<button id='minus"+item+"' class='btn btn-primary minus'>-</button><span id='val"+item+"'>"+cart[item]+"</span><button id='plus"+item+"'  class='btn btn-primary plus'>+</button>"
        }
        localStorage.setItem('cart',JSON.stringify(cart));
        document.getElementById('cart').innerHTML = Object.keys(cart).length;
        updatePopover(cart)
    }
    $('.divpr').on("click","button.minus", function(){
       a = this.id.slice(7, );
       cart['pr'+ a] = cart['pr'+a] - 1;
       cart['pr'+ a] = Math.max(0, cart['pr'+a]);
       document.getElementById('valpr'+a).innerHTML = cart['pr'+a];
       updateCart(cart)

    });
   $('.divpr').on("click","button.plus", function(){
         a = this.id.slice(6, );
        cart['pr' + a] = cart['pr' + a] + 1;
        document.getElementById('valpr' + a).innerHTML = cart['pr' + a];
        updateCart(cart);
});


</script>
{% endblock %}
